body {
  background: linear-gradient(to bottom right, #60a5fa, #4b3eae);
  font-family: Arial, sans-serif;
  overflow: hidden;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 50vh;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.city {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.temperature {
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

.condition {
  font-size: 1.7rem;
  color: #000;
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.weather-details {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.weather-details h2{
  margin: 0;
}

.forecast-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.forecast-days {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  font-weight: bold;
}

.forecast-temp,
.forecast-condition {
  font-size: 0.875rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px 0 0 5px;
  background-color: rgba(255, 255, 255, 0.2); 

  outline: none;
  transition: border-color 0.3s ease;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}

.search-input:focus {
  border-color: #3b82f6; 
}

.search-btn {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #3b82f6; 
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
